body{
    /* background-image: url('image.png');
    background-size:inherit;
    background-repeat:repeat-y; */
    
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

li{
    font-size: 20px;
    
}