body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 400px;
    width: 300px;
    background-color: #c9f79a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;

}
button{
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px ;
}

